<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.BookRequestMapper">

	<insert id="insertWishBook">
		INSERT INTO wishlist
		(member_id, isbn, wish_cause,
		wish_result, wish_status, reg_date, book_title, book_author,
		book_publisher)
		VALUES
		(#{memberId}, #{isbn},
		#{wishCause},
		#{wishResult}, #{wishStatus}, CURRENT_TIMESTAMP, #{bookTitle},
		#{bookAuthor}, #{bookPublisher})
	</insert>

	<select id="getWishList" resultType="bookRequestVO">
		SELECT wish_no, member_id, isbn, wish_cause, ifnull(wish_result, "")
		as wish_result,
		wish_status, reg_date, book_title, book_author,
		book_publisher FROM wishlist

		<where>
			<choose>
				<when test="memberId != 'admin'">
					member_id = #{memberId}
				</when>
				<when test="memberId == 'admin'">
					wish_status like CONCAT('%',#{search},'%')
				</when>
			</choose>
		</where>
           ORDER BY wish_no DESC
           LIMIT #{amount} OFFSET #{startRow}
	</select>

	<update id="updateWishList">
		UPDATE wishlist
		SET wish_status = #{wishStatus},
		wish_result = #{wishResult}
		WHERE wish_no = #{wishNo}
	</update>
	
	<select id="getWishListCount" resultType="int">
		SELECT COUNT(*) FROM wishlist
		<where>
			<choose>
				<when test="memberId != 'admin'">
					member_id = #{memberId}
				</when>
				<when test="memberId == 'admin'">
					wish_status like CONCAT('%',#{search},'%')
				</when>
			</choose>
		</where>
	</select>
	
</mapper>