@charset "utf-8";
/* font */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
	/* font-family: 'Noto Sans KR', sans-serif; */
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
	/* font-family: 'Jeju Myeongjo', serif; */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
	/* font-family : 'Nanum Gothic' */
body, div, p, h1, h2, h3, h4, h5, h6, ol, li, dl, dt, dd, ul, pre, code,
	blockquote, form, fieldset, legend, input, textarea, button, select,
	table, th, td {
	margin: 0;
	padding: 0
}

ul, ol, li, dl, menu {
	list-style: none
}

img {
	border: 0 none;
	vertical-align: middle;
}

form, fieldset {
	border: 0 none
}

label, input, select, textarea, button {
	border: 0;
	border-radius: 0;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle
}

input[type='submit'], input[type='button'] {
	cursor: pointer
}

textarea {
	resize: none
}

button {
	border: 0;
	background-color: transparent;
	cursor: pointer;
	outline: 0
}
/*button:focus {border:1px dotted #3cb896}*/
button::-moz-focus-inner {
	padding: 0;
	border: 0
} /* Fire Fox button style bug */
table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	border-spacing: 0; /*table-layout:fixed*/
}
/*p {word-break:keep-all;word-wrap:break-word}*/
th, td {
	word-break: break-all
}

address, caption, cite, code, dfn, em, var {
	font-style: normal;
	font-weight: 400
}

header, main, footer, section, article, aside, nav, details, menu,
	figure, figcaption {
	display: block;
	margin: 0;
	padding: 0
}

iframe, object, video, embed {
	position: relative;
	top: 0;
	left: 0;
	max-width: 100%
}

input[type='text'], input[type='password'], input[type='submit'] {
	-webkit-appearance: none
}

.required {
	width: 97%;
	border: 1px solid #9A9A9A;
	border-right: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	padding: 2px;
}

h1, h2, h3, h4, h5, h6, textarea, select, input {
	font-weight: 400;
	font-size: 14px;
}

a, a:link, a:visited {
	color: #666;
	text-decoration: none
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

/* Basc Custom */
body {
	font-family: 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', '맑은고딕',
		'Dotum', '돋움', 'Montserrat', 'Arial', 'sans-serif';
	font-size: 15px;
	line-height: 1.7em;
	color: #666;
}

#skipNavi {
	position: absolute;
	left: 0;
	top: -10em;
	width: 100%;
	z-index: 99999
}

#skipNavi a:active, #skipNavi a:focus {
	position: absolute;
	left: 0;
	top: 10em;
	width: 100%;
	background: #009dc8;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 35px;
	outline: 0
}

/*align set */
.l {
	text-align: left !important
}

.r {
	text-align: right !important
}

.c {
	text-align: center !important
}

.clr {
	clear: both !important
}

/* space set */
.mg_l5 {
	margin-left: 5px
}

.mg_l10 {
	margin-left: 10px
}

.mg_l13 {
	margin-left: 13px
}

.mg_l15 {
	margin-left: 15px
}

.mg_l18 {
	margin-left: 18px
}

.mg_l20 {
	margin-left: 20px
}

.mg_l25 {
	margin-left: 25px
}

.mg_l30 {
	margin-left: 30px
}

.mg_b5 {
	margin-bottom: 5px !important
}

.mg_b10 {
	margin-bottom: 10px !important
}

.mg_b15 {
	margin-bottom: 15px !important
}

.mg_b20 {
	margin-bottom: 20px !important
}

.mg_b25 {
	margin-bottom: 25px !important
}

.mg_b30 {
	margin-bottom: 30px !important
}

.mg_b35 {
	margin-bottom: 35px !important
}

.mg_b40 {
	margin-bottom: 40px !important
}

.mg_b45 {
	margin-bottom: 45px !important
}

.mg_b50 {
	margin-bottom: 50px !important
}

.mg_b70 {
	margin-bottom: 70px !important
}

.mg_t5 {
	margin-top: 5px !important
}

.mg_t10 {
	margin-top: 10px !important
}

.mg_t15 {
	margin-top: 10px !important
}

.mg_t20 {
	margin-top: 20px !important
}

.mg_t25 {
	margin-top: 25px !important
}

.mg_t30 {
	margin-top: 30px;
}

.mg_t40 {
	margin-top: 40px;
}

.mg_t50 {
	margin-top: 50px;
}

.mg_t100 {
	margin-top: 100px;
}

/* width set */
.w_10 {
	width: 10px
}

.w_30 {
	width: 30px
}

.w_40 {
	width: 40px
}

.w_50 {
	width: 50px
}

.w_60 {
	width: 60px
}

.w_70 {
	width: 70px
}

.w_80 {
	width: 80px
}

.w_90 {
	width: 90px
}

.w_100 {
	width: 100px
}

.w_110 {
	width: 110px
}

.w_120 {
	width: 120px
}

.w_130 {
	width: 130px
}

.w_150 {
	width: 150px
}

.w_160 {
	width: 160px
}

.w_180 {
	width: 180px
}

.w_200 {
	width: 200px !important
}

.w_250 {
	width: 250px !important
}

.w_300 {
	width: 300px !important
}

.w_350 {
	width: 350px !important
}

.w_400 {
	width: 400px !important
}

.w_410 {
	width: 410px !important
}

.w_420 {
	width: 420px !important
}

.w_500 {
	width: 500px !important
}

.w_600 {
	width: 600px !important
}

.wps_5 {
	width: 5%
}

.wps_10 {
	width: 10%
}

.wps_15 {
	width: 15%
}

.wps_16 {
	width: 16%
}

.wps_20 {
	width: 20%
}

.wps_25 {
	width: 25%
}

.wps_28 {
	width: 28%
}

.wps_30 {
	width: 30%
}

.wps_35 {
	width: 35%
}

.wps_40 {
	width: 40%
}

.wps_43 {
	width: 43%
}

.wps_45 {
	width: 45%
}

.wps_50 {
	width: 50%
}

.wps_55 {
	width: 55%
}

.wps_60 {
	width: 60%
}

.wps_65 {
	width: 65%
}

.wps_70 {
	width: 70%
}

.wps_75 {
	width: 75%
}

.wps_80 {
	width: 80%
}

.wps_85 {
	width: 85%
}

.wps_90 {
	width: 90%
}

.wps_95 {
	width: 95%
}

.wps_100 {
	width: 100%
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clr {
	clear: both;
}

.fs13 {
	font-size: 13px;
}

.fs12 {
	font-size: 12px;
}

.fs15 {
	font-size: 15px;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fs22 {
	font-size: 22px;
}

.fs24 {
	font-size: 24px;
}

.fs26 {
	font-size: 26px;
}

.fs26 {
	font-size: 28px;
}

.fs28 {
	font-size: 30px;
}

a[href^='tel'] {
	text-decoration: none !important;
	cursor: default;
}

.red, .Loan {
	color: #ff0000;
}

.Finish {
	color: #b0b0b0;
}

.blue {
	color: #2452a7;
}

.c_green02 {
	color: #4b9311;
}